@using Castellano.Membresia

@model Castellano.Web.UI.Areas.Administracion.Models.Aplicacion

@{
    ViewBag.Title = "Aplicaciones";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Aplicaciones</h3>
                </div>
                <div class="content">
                    <table id="gridView" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Orden</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        @*<tbody>
                                @foreach (Castellano.Membresia.Aplicacion aplicacion in Castellano.Membresia.Aplicacion.GetAll())
                                {

                                <tr>
                                    <td>@aplicacion.Nombre</td>
                                    <td>@aplicacion.Orden</td>
                                    <td>
                                        <a class="btn btn-primary btn-xs btn-flat md-trigger" data-value="@aplicacion.Id" data-modal="form-primary" href="#" data-original-title="Editar" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-danger btn-xs" href="#" data-original-title="Eliminar" data-toggle="tooltip"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>

                                }
                            </tbody>*@
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Orden</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="modalForm">

    @Html.AntiForgeryToken()

    @Html.Hidden("aplicacionId")

    <div id="form-primary" class="md-modal colored-header custom-width md-effect-9">
        <div class="md-content">
            <div class="modal-header">
                <h3>Aplicación</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">×</button>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    @Html.LabelFor(x => x.Nombre, new { @for = "nombre" })
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @id = "nombre", @placeholder = "Nombre", @maxLength = "60" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Clave, new { @for = "clave" })
                    @Html.TextBoxFor(x => x.Clave, new { @class = "form-control", @id = "clave", @placeholder = "Clave", @maxLength = "50" })
                </div>
                <div class="row">
                    <div class="form-group col-md-12 no-margin">
                        @Html.LabelFor(x => x.Orden, new { @for = "orden" })
                    </div>
                </div>
                <div class="row no-margin-y">
                    <div class="form-group col-md-3 col-sm-3 col-xs-3 no-margin">
                        @Html.TextBoxFor(x => x.Orden, new { @class = "form-control", @id = "orden", @placeholder = "Orden", @maxLength = "2", @onlyNumbers = true })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" data-dismiss="modal" class="btn btn-primary btn-flat">Guardar</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat md-close">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        var table = gridView();

        var validator = $('#modalForm').validate({

            errorClass: 'errorText',
            validClass: 'validText',
            errorElement: 'em',
            rules: {
                Nombre: {
                    required: true,
                },
                Clave: {
                    required: true
                },
                Orden: {
                    required: true,
                    number: true,
                    min: 1,
                    max: 20
                }
            },
            messages: {
                Nombre: {
                    required: 'Ingrese el nombre'
                },
                Clave: {
                    required: 'Ingrese la clave'
                },
                Orden: {
                    required: 'Ingrese el orden',
                    min: 'El mínimo valor a ingresar es 1',
                    max: 'El máximo valor a ingresar es 30'
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).closest('.form-control').addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest('.form-control').removeClass(errorClass).addClass(validClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            submitHandler: function (form) {

                var obj = {
                    id: $('#aplicacionId').val(),
                    nombre: $('#nombre').val(),
                    clave: $('#clave').val(),
                    orden: $('#orden').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Administracion/Admin/Aplicaciones',
                    data: obj,
                    success: function () {

                        table.ajax.reload();
                    },
                    error: function (data) {

                        alert('error');
                    }
                });
            }
        });
    });

    $('#gridView').on('draw.dt', function () {
        $('.md-trigger').modalEffects();
    });

    $(document).on('click', 'a[data-original-title=Editar]', function () {

        $.getJSON('/Administracion/Admin/GetAplicacion/' + $(this).attr('data-value'), function (data) {

            var form = $('#modalForm');

            $('#aplicacionId').val(data.Id);
            $('#nombre').val(data.Nombre);
            $('#clave').val(data.Clave);
            $('#orden').val(data.Orden);

            form.find(".errorText").removeClass("errorText");
            form.find(".validText").removeClass("validText");
            form.find("em").remove();
        });
    });

    function gridView() {

        var table = $('#gridView').DataTable({
            "ajax": "/Administracion/Admin/GetAplicaciones",
            "columns": [
                { "data": "Nombre" },
                { "data": "Orden" },
                { "data": "Accion" }
            ],
            "order": [[1, "asc"]],
            "columnDefs": [
                {
                    "targets": [2],
                    "searchable": false,
                    "sortable": false
                }
            ],
            "iDisplayLength": 15,
            "aLengthMenu": [
                [15, 20, 25, 30, -1],
                [15, 20, 25, 30, "All"]
            ],
            "createdRow": function (row, data, dataIndex) {

                var edit = $(row).children().last().children()[0];
                var del = $(row).children().last().children()[1];

                $(edit).attr('data-value', data.Id);
                $(del).attr('data-value', data.Id);
            }
        });

        return table;
    }

</script>