@using Castellano.Web.UI.Helper

@model Castellano.Web.UI.Areas.Administracion.Models.MenuItem

@{
    ViewBag.Title = "Auditoria";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@using (Html.BeginForm("MisDatos", "Admin", new { area = "Administracion", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("menuItemId");

    <div class="panel panel-default panel-default-fe">
        <div class="panel-heading panel-heading-fe"><h4>Administración de ítems de menú</h4></div>
        <div class="row">  
            <div class="col-md-10">
                @{
                    if (!string.IsNullOrEmpty(this.ViewBag.Message))
                    {
                    <div class="alert alert-success">
                        <script type="text/javascript">
                                    $(function () {
                                        swal("Listo!",
                                            "Su información fue guardada correctamente",
                                            "success");
                                    });
                        </script>
                    </div>
                        }
                }
                <div class="form-group">
                    @Html.LabelFor(x => x.AplicacionId, new { @for = "aplicacionLabel", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.AplicacionId, new { @class = "form-control", @id = "aplicacion", @disabled = "false" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Titulo, new { @for = "titulo", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", @id = "titulo", @placeholder = "Titulo", @maxLength = "80" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.ToolTip, new { @for = "toolTip", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextAreaFor(x => x.ToolTip, new { @class = "form-control", @id = "toolTip", @placeholder = "ToolTip" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Informacion, new { @for = "informacion", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextAreaFor(x => x.Informacion, new { @class = "form-control", @id = "informacion", @placeholder = "Información" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Icono, new { @for = "icono", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.Icono, new { @class = "form-control", @id = "icono", @placeholder = "Ícono", @maxLength = "70" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Url, new { @for = "url", @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @id = "url", @placeholder = "URL", @maxLength = "256", @disabled = "false" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Visible)
                                @Html.LabelFor(m => m.Visible)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.MuestraMenus)
                                @Html.LabelFor(m => m.MuestraMenus)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Publico)
                                @Html.LabelFor(m => m.Publico)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                @Html.TreeViewMenu()
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    jQuery(document).ready(function () {

        $('label.tree-toggler').click(function () {
            var icon = $(this).children(".fa");
            if (icon.hasClass("fa-folder-open-o")) {
                icon.removeClass("fa-folder-open-o").addClass("fa-folder-o");
            } else {
                icon.removeClass("fa-folder-o").addClass("fa-folder-open-o");
            }

            $(this).parent().children('ul.tree').toggle(300, function () {
                $(this).parent().toggleClass("open");
                $(".tree .nscroller").nanoScroller({ preventPageScrolling: true });
            });
        });

        $(document).on('click', 'a[data-value]', function () {

            $('#url').val($(this).attr('data-value'));

        });
    })

</script>