@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@model Castellano.Web.UI.Areas.Administracion.Models.ChangePassword

<div id="navbar" class="navbar-collapse collapse">
    <div class="panel panel-default panel-default-fe">
        <div class="panel-heading panel-heading-fe"><h4>Cambiar Contraseña</h4></div>
        <div class="panel-body">

            @using (Html.BeginForm("ChangePassword", "Admin", new { area = "Administracion", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary("", new { @class = "bg-danger" })
                
                if (!string.IsNullOrEmpty(this.ViewBag.Message))
                {
                    <div class="alert alert-success">
                        @this.ViewBag.Message
                    </div>
                }
                
                <div class="form-group">
                    @Html.LabelFor(x => x.Password, new { @for = "password", @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @id = "password", @placeholder = "Contraseña actual", @maxLength = "45" })
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password1, new { @for = "password1", @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(x => x.Password1, new { @class = "form-control", @id = "password1", @placeholder = "Nueva contraseña", @maxLength = "45" })
                        @Html.ValidationMessageFor(x => x.Password1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password2, new { @for = "password2", @class = "col-sm-2 control-label" })
                    <div class="col-sm-5">
                        @Html.PasswordFor(x => x.Password2, new { @class = "form-control", @id = "password2", @placeholder = "Confirmación contraseña", @maxLength = "45" })
                        @Html.ValidationMessageFor(x => x.Password2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-9 col-xs-9">
                        @Html.ActionLink("Cancelar", "ChangePassword", "Admin", new { area = "Administracion", @class = "btn btn-danger" })
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>