@using Castellano.Helpers
@using Castellano.Web.UI.Helper

@model Castellano.Web.UI.Areas.Administracion.Models.MenuItem

@{
    ViewBag.Title = "ItemsMenu";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="panel panel-default panel-default-fe">
    <div class="panel-heading panel-heading-fe">
        <h4>Administración de ítems de menú</h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(x => x.AplicacionId, new { @for = "aplicacion", @class = "col-sm-4 control-label" })
                <div class="col-sm-5">
                    @Html.DropDownListFor(x => x.AplicacionId, Castellano.Membresia.Aplicacion.Aplicaciones, new { @id = "aplicacion", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-3">
                    <button id="cancelOrder" class="btn btn-danger">Cancelar</button>
                    <button id="saveOrder" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <span id="menuItems" />
        </div>
    </div>
</div>

<form id="modalForm">

    @Html.AntiForgeryToken()

    @Html.Hidden("aplicacionId")

    <div id="form-primary" class="md-modal colored-header success md-effect-9">
        <div class="md-content">
            <div class="modal-header">
                <h3>Aplicación</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">×</button>
            </div>
            <div class="modal-body form">
                @Html.AntiForgeryToken()

                @Html.Hidden("menuItemId")
                @Html.Hidden("id")

                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.NombreAplicacion, new { @for = "nombreAplicacion", @class = "control-label" })
                                @Html.TextBoxFor(x => x.NombreAplicacion, new { @class = "form-control", @id = "nombreAplicacion", @disabled = "false" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Nombre, new { @for = "nombre", @class = "control-label" })
                                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @id = "nombre", @placeholder = "Nombre", @maxLength = "80" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Informacion, new { @for = "informacion", @class = "control-label" })
                                @Html.TextAreaFor(x => x.Informacion, new { @class = "form-control", @id = "informacion", @placeholder = "Información" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Icono, new { @for = "icono", @class = "control-label" })
                                @Html.TextBoxFor(x => x.Icono, new { @class = "form-control", @id = "icono", @placeholder = "Ícono", @maxLength = "70" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Url, new { @for = "url", @class = "control-label" })
                                @Html.TextBoxFor(x => x.Url, new { @class = "form-control", @id = "url", @placeholder = "URL", @maxLength = "256", @disabled = "false" })
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.Visible)
                                        @Html.LabelFor(m => m.Visible)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div id="tree" class="scrollDivMenu">
                            <br />
                            @Html.TreeViewMenu()
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat md-close">Cancelar</button>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary btn-flat md-close">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</form>

@Html.Hidden("menuJson")

@Scripts.Render("~/Content/js/jquery.nestable")
@Scripts.Render("~/js/itemsMenu")

<script type="text/javascript">


</script>