@using Castellano.Helpers

@model Castellano.Web.UI.Areas.Administracion.Models.Persona

@{
    ViewBag.Title = "MisDatos";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@Scripts.Render("~/Content/js/rut")

<script type="text/javascript">

    $(this).ready(

        function () {

            $('#run').Rut({
                on_error: function () { alert('Rut incorrecto'); }
            });

            $(function () {
                $("#fechaNacimiento").datepicker({
                    dateFormat: 'dd/mm/yyyy'
                });
            });

        }
    );

    $(function () {

        $("#region").change(function () {

            if ($('#region').val() == '-1') {

                $("#ciudad").html("<option value = '-1'>[Seleccione]</option>");

                $("#comuna").html("<option value = '-1'>[Seleccione]</option>");
            }
            else {

                $.getJSON('/Administracion/Admin/Ciudades/' + $('#region').val(), function (data) {

                    var items = "";

                    $.each(data, function (i, ciudad) {

                        items += "<option value = '" + ciudad.Value + "'>" + ciudad.Text + "</option>";

                    });

                    $("#ciudad").html(items);
                });
            }
        });

        $("#ciudad").change(function () {

            if ($('#ciudad').val() == '-1') {

                $("#comuna").html("<option value = '-1'>[Seleccione]</option>");

            }
            else {

                $.getJSON('/Administracion/Admin/comunas/' + $('#region').val() + '/' + $('#ciudad').val(), function (data) {

                    var items = "";

                    $.each(data, function (i, comuna) {

                        items += "<option value = '" + comuna.Value + "'>" + comuna.Text + "</option>";

                    });

                    $("#comuna").html(items);
                });
            }
        });
    })

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-offset-1">
            <div class="intro-message">
                @using (Html.BeginForm("MisDatos", "Admin", new { area = "Administracion", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-default panel-default-fe">
                        <div class="panel-heading panel-heading-fe"><h3>Mis datos</h3></div>
                        <div class="panel-body">
                            @Html.ValidationSummary()
                            <div class="form-group">
                                @Html.LabelFor(x => x.Run, new { @for = "run", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Run, new { @class = "form-control", @id = "run", @placeholder = "R.U.N.", @maxLength = "11" })
                                </div>
                                <div class="col-sm-3">
                                    @foreach (Castellano.Sexo sexo in Castellano.Sexo.GetAll())
                                    {
                                        <div class="radio-inline">
                                            <label>
                                                @Html.RadioButtonFor(x => x.SexoCodigo, sexo.Codigo, new { @id = "sexo" })
                                                @sexo.Nombre
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Nombres, new { @for = "nombres", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Nombres, new { @class = "form-control", @id = "run", @placeholder = "Nombres", @maxLength = "45" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.ApellidoPaterno, new { @class = "form-control", @id = "apellidoPaterno", @placeholder = "Apellido paterno", @maxLength = "45" })
                                </div>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.ApellidoMaterno, new { @class = "form-control", @id = "apellidoMaterno", @placeholder = "Apellido materno", @maxLength = "45" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Email, new { @for = "email", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "email", @placeholder = "Email", @maxLength = "70" })
                                </div>
                                @Html.LabelFor(x => x.FechaNacimiento, new { @for = "fechaNacimiento", @class = "col-sm-3 control-label" })
                                <div class="col-sm-2">
                                    @Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control", @id = "fechaNacimiento", @placeholder = "Fecha de nacimiento", @maxLength = "10" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.NacionalidadCodigo, new { @for = "nacionalidad", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.Nacionalidad, new { @class = "form-control", @id = "nacionalidad" })
                                </div>
                                @Html.LabelFor(x => x.EstadoCivilCodigo, new { @for = "estadoCivil", @class = "col-sm-3 control-label" })
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(x => x.EstadoCivil, new { @class = "form-control", @id = "estadoCivil" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.NivelEducacionalCodigo, new { @for = "nivelEducacional", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(x => x.NivelEducacional, new { @class = "form-control", @id = "nivelEducacional" })
                                </div>
                                @Html.LabelFor(x => x.RegionCodigo, new { @for = "region", @class = "col-sm-3 control-label" })
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(x => x.Comuna.Ciudad.Region, new { @class = "form-control", @id = "region" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Direccion, new { @for = "direccion", @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(x => x.Direccion, new { @class = "form-control", @id = "direccion", @placeholder = "Dirección" })
                                </div>
                                @Html.LabelFor(x => x.CiudadCodigo, new { @for = "ciudad", @class = "col-sm-2 control-label" })
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(x => x.Comuna.Ciudad, new { @class = "form-control", @id = "ciudad" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.VillaPoblacion, new { @for = "villaPoblacion", @class = "col-sm-2 control-label" })
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(x => x.VillaPoblacion, new { @class = "form-control", @id = "villaPoblacion", @placeholder = "Villa o población", @maxLength = "60" })
                                </div>
                                @Html.LabelFor(x => x.ComunaCodigo, new { @for = "comuna", @class = "col-sm-2 control-label" })
                                <div class="col-sm-2">
                                    @Html.DropDownListFor(x => x.Comuna, new { @class = "form-control", @id = "comuna" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Telefono, new { @for = "telefono", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Telefono, new { @class = "form-control", @id = "telefono", @placeholder = "Teléfono" })
                                </div>
                                @Html.LabelFor(x => x.Celular, new { @for = "celular", @class = "col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Celular, new { @class = "form-control", @id = "celular", @placeholder = "Celular" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Ocupacion, new { @for = "ocupacion", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.Ocupacion, new { @class = "form-control", @id = "ocupacion", @placeholder = "Ocupación", @maxLength = "100" })
                                </div>
                                @Html.LabelFor(x => x.TelefonoLaboral, new { @for = "telefonoLaboral", @class = "col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(x => x.TelefonoLaboral, new { @class = "form-control", @id = "telefonoLaboral", @placeholder = "Teléfono laboral" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DireccionLaboral, new { @for = "direccionLaboral", @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(x => x.DireccionLaboral, new { @class = "form-control", @id = "direccionLaboral", @placeholder = "Dirección laboral" })
                                </div>
                                @Html.LabelFor(x => x.Observaciones, new { @for = "Observaciones", @class = "col-sm-3 control-label" })
                                <div class="col-sm-3">
                                    @Html.TextAreaFor(x => x.Observaciones, new { @class = "form-control", @id = "observaciones", @placeholder = "Observaciones" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-9 col-xs-9">
                                    <input type="reset" class="btn btn-default" value="Cancelar">
                                    <input type="submit" class="btn btn-primary" value="Guardar">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>