@model Castellano.Web.UI.Areas.Administracion.Models.Rol

@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="cl-mcont">
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>Roles y permisos</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(x => x.AmbitoCodigo, new { @for = "ambito", @class = "col-sm-4 control-label" })
                            <div class="col-sm-5">
                                @Html.DropDownListFor(x => x.AmbitoCodigo, Castellano.Ambito.Ambitos, new { @id = "ambito", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <a id="add" class="btn btn-success btn-xs btn-flat md-trigger" data-modal="form-primary" href="#" title="Agregar una nueva aplicación" typebutton="Add"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <table id="gridView" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Clave</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Clave</th>
                                <th>Acciones</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="modalForm">

    @Html.AntiForgeryToken()

    @Html.Hidden("rolId")

    <div id="form-primary" class="md-modal colored-header custom-width md-effect-9">
        <div class="md-content">
            <div class="modal-header">
                <h3>Roles</h3>
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close">×</button>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(x => x.AmbitoCodigo, new { @for = "ambitoCodigo", @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.AmbitoCodigo, new { @class = "form-control", @id = "ambitoCodigo", @disabled = "false" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nombre, new { @for = "nombre", @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @id = "nombre", @placeholder = "Nombre", @maxLength = "´70" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Clave, new { @for = "clave", @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Clave, new { @class = "form-control", @id = "clave", @placeholder = "Clave", @maxLength = "50" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-flat md-close">Cancelar</button>
                    <button type="submit" data-dismiss="modal" class="btn btn-primary btn-flat">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
</form>

<script type="text/javascript">

    $(document).ready(function () {

        $(document).tooltip();

        var validator = $('#modalForm').validate({

            errorClass: 'errorText',
            validClass: 'validText',
            errorElement: 'em',
            rules: {
                Nombre: {
                    required: true
                }
            },
            messages: {
                Nombre: {
                    required: 'Ingrese el nombre'
                }
            },
            highlight: function (element, errorClass, validClass) {
                $(element).closest('.form-control').addClass(errorClass).removeClass(validClass);
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).closest('.form-control').removeClass(errorClass).addClass(validClass);
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },
            submitHandler: function (form) {

                var obj = {
                    id: $('#rolId').val(),
                    ambitoCodigo: $('#ambito').val(),
                    nombre: $('#nombre').val(),
                    clave: $('#clave').val(),
                };

                $.ajax({
                    type: 'POST',
                    url: '/Administracion/Admin/Roles',
                    data: obj,
                    success: function () {

                        $('#modalForm').hide();

                        swal("Listo!", "Su información fue guardada correctamente", "success");

                        table.ajax.reload();
                    },
                    error: function (data) {

                        swal("Error!", "Se ha producido un error al registrar la información", "error");
                    }
                });
            }
        });

        var table;

        $('#ambito').change(function () {

            if (table != null) {

                table.destroy();

            }

            table = gridView();
        })

        $('#add').click(function () {

            if ($('#ambito').val() == '-1') {

                $('#modalForm').hide();

                swal("Error!", "Primero seleccione el ámbito", "error");

            }
            else {

                popUp();

                $('#rolId').val(generateId());
            }
        });

        $(document).on('click', 'a[typebutton=Edit]', function () {

            $.getJSON('/Administracion/Admin/GetRol/' + $(this).attr('data-value'), function (data) {

                popUp();

                $('#rolId').val(data.Id);
                $('#nombre').val(data.Nombre);
                $('#clave').val(data.Clave);

            });
        });

        $(document).on('click', 'a[typebutton=Delete]', function () {

            var id = $(this).attr('data-value');

            swal({
                title: "¿Esta seguro?",
                text: "Se eliminará el rol y todos sus permisos",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, eliminalo",
                closeOnConfirm: false
            },
                function () {

                    $.ajax({
                        type: 'GET',
                        url: '/Administracion/Admin/DeleteRol/' + id,
                        success: function () {

                            table.ajax.reload();

                            swal("Eliminado!", "El rol fue eliminado de forma correcta", "success");
                        },
                        error: function (data) {

                            swal("Error!", "El rol no puede ser eliminado", "error");
                        }
                    });
                });
        });
    });

    $('#gridView').on('draw.dt', function () {
        $('.md-trigger').modalEffects();
    });

    function gridView() {

        var table = $('#gridView').DataTable({

            "ajax": "/Administracion/Admin/GetRoles/" + $('#ambito').val(),
            "columns": [
                { "data": "Nombre" },
                { "data": "Clave" },
                { "data": "Accion" }
            ],
            "order": [[0, "asc"]],
            "columnDefs": [
                {
                    "targets": [2],
                    "searchable": false,
                    "sortable": false
                }
            ],
            "iDisplayLength": 15,
            "aLengthMenu": [
                [15, 20, 25, 30, -1],
                [15, 20, 25, 30, "All"]
            ]
        });

        return table;
    }

    function popUp() {

        var form = $('#modalForm');

        $('#ambitoCodigo').val($('#ambito option:selected').text());

        $('#nombre').val("");
        $('#clave').val("");

        form.find(".errorText").removeClass("errorText");
        form.find(".validText").removeClass("validText");
        form.find("em").remove();

        $('#modalForm').show();
    }

</script>